<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Shop</title>
    <link rel="stylesheet" href="/ejercicio1/static/css/style.css">
</head>
<body>

    <!-- Contenedor principal -->
    <div class="header">
        <!-- Logo y título -->
        <div class="logo">
            <img src="https://cdn.iconscout.com/icon/free/png-256/django-12-1175186.png" alt="Logo Django">
        </div>
        <div class="title">
            DJANGO SHOP
        </div>
    </div>
    <div class="category-container">
        <button class="category-button electronica">Electrónica</button>
        <button class="category-button juguetes">Juguetes</button>
        <button class="category-button ropa">Ropa</button>
    </div>

</body>
</html>
