<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Shop</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="script" href="{%static 'javascript/scripts.js' %}">
</head>
<body>

    <div class="header">
        <div class="logo">
            <img src="{%static 'images/Triforce.png' %}" alt="Logo Django">
        </div>
        <div class="title">
            DJANGO SHOP
        </div>
    </div>
    <div class="productTitle">
        <h1>{{productCategory}}</h1>
    </div>
    <div class="category-container">
        <div class="category-container productName product1">
            <img src="{%static 'images/' %}{{imgProduct1}}" alt="product1">
            <p class="productTitle">{{productName1}}</p>
        </div>
        <div class="productName product2">
            <img src="{%static 'images/' %}{{imgProduct2}}" alt="product2">
            <p class="productTitle">{{productName2}}</p>
        </div>
        <div class="productName product3">c</div>
    </div>
</body>
</html>
